@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
}

body {
    background-color: #213448;
}

/* Navbar */
header {
    width: 100vw;
    display: flex;
    justify-content: center;
}

nav {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 4px 24px;
    width: fit-content;
    border-radius: 24px;
    margin-top: 8px;
}

.list-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    font-weight: 600;
}

.list-navbar li {
    list-style-type: none;
    padding: 4px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: width 0.3s ease-in-out, background-color 0.3s linear 0.1s;
}

.list-navbar li:hover {
    background-color: #547792;
}

.list-navbar a {
    text-decoration: none;
    color: white;
}
/* End Navbar*/

.contact-card {
    width: 70vw;
    margin: 5rem auto;
    background-color: #94B4C1;
    text-align: center;
    padding: 48px 32px;
    border-radius: 20px;
    line-height: 1.6;
}

.title-contact h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #213448;
}

.item-contact {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.item-contact a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #ECEFCA;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.item-contact a:hover {
    transform: scale(1.1);
    background-color: #547792;
}